.stepper-container {
    align-items: center;
    /* background-color: rgb(139, 199, 180); */
    padding: 10%;
    padding-top: 6%;
    font-size: 1rem;
    /* max-height: fit-content;
    max-width: fit-content; */
}

.stepper-container h1 {
    margin-top: 1%;
    margin-bottom: 0%;
}

.stepper-container p {
    margin-bottom: 3%;
    font-size: 15px;
}

.complete {
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.p-container {
    /*height: 15rem;*/
    align-items: center;
    margin-bottom: 2%;
}

.p-text {
    margin-top: 2%;
}

.textHolder {
    height: 300px;
}

.step2-container {
    margin-bottom: 0;
    margin-top: 0;
}

.parent {
    position: relative;
}


.child {
    position: absolute;
}

.focus {
    height: 24%;
    width: 15%;
    border: 5px solid orangered;
}

.surfaces {
    position: absolute;
}

.surfaces.box {
    border: 5px solid red;
}

.disposable {
    top: 50%;
    left: 79%;
}

.commonarea {
    top: 40%;
    left: 37%;
}

.ventilation {
    top: 20%;
    left: 12%;
}

.stations {
    top: 35%;
    left: 55%;
}

.focus:hover {
    background-color: gray;
    opacity: 0.5;
}

.ppe {
    top: 40%;
    right: 37%;
}

.chair {
    top: 75%;
    right: 18%;
}

.hair {
    top: 70%;
    right: 36%;
}

.equipment {
    top: 25%;
    right: 40%;
}

.contact {
    top: 30%;
    right: 9%;
}

.oils {
    top: 25%;
    right: 50%;
}

.chairs {
    top: 59%;
    right: 25%;
}

.towels {
    top: 75%;
    right: 55%;
}

.cardoverflow {
    overflow-y: auto;
}