.home-intro {
    width: 100%;
    height: 100%;
}

.home-intro h1 {
    padding: 4rem;
    font-size: 2rem;
}

.home-intro-container {
    height: 30rem;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 10px;
}