.introCard {
    background-color: rgba(68, 68, 68, 0.097);
    border-radius: 25px;

}

.mpx-container {
    height: 44rem;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgb(250, 243, 243);
}