.introCard {
    background-color: rgba(68, 68, 68, 0.097);
    border-radius: 25px;

}

.mpx-container {
    height: 44rem;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: rgb(250, 243, 243);
}

@media screen and (max-device-width: 770px) {
    .carousel-heading {
        font-size: 10%;
    }

    .carousel-body {
        font-size: 8%;
    }
}