.counter-container {
    /* display: flex; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 20px;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    padding: 4rem;
    padding-left: 6rem;
    margin-top: 1rem;
}

.counter {
    font-size: 3.2rem;
}