.stepper-container {
    align-items: center;
    /* background-color: rgb(139, 199, 180); */
    padding: 8%;
    font-size: 2rem;
}

.stepper-container h1 {
    margin-top: 5%;
    margin-bottom: 1%;
}

.stepper-container p {
    margin-bottom: 5%;
    font-size: 20px;
}

.complete {
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.p-container {
    /*height: 15rem;*/
    align-items: center;
}


.textHolder {
    height: 300px;
}

.step2-container {
    margin-bottom: 0;
    margin-top: 0;
}

.parent {
    position: relative;
}


.child{
    position: absolute;
}

.focus {
    height: 24%;
    width: 15%;
    border: 5px solid orangered;
}
.surfaces {
    position: absolute;
}

.surfaces.box {
    border: 5px solid red;
}

.disposable {
    top: 14.5%;
    left: 12%;
}

.sanitise {
    top: 32%;
    left: 40.5%;
}

.commonarea {
    top: 55%;
    right: 10%;
}

.ventilation{
    top: 1%;
    right: 27%;
}
.focus:hover {
    background-color: gray;
    opacity: 0.5;
}