.main-container {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    text-align: center;
    width: 600;
    height: 300;
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* The hovering for image to show up  */
.hover-image1-container {
    height: 0rem;
    width: 0rem;
    position: absolute;
    /* display: none; */
}

.hover-image1-container.show {
    height: 7rem;
    width: 10rem;
    position: absolute;
    top: 3rem;
    transition: all 0.4s ease;
}

.hover-image2-container.show {
    height: 7rem;
    width: 10rem;
    position: absolute;
    top: 17rem;
    left: 8rem;
    transition: all 0.4s ease;
}

.hover-image3-container.show {
    height: 7rem;
    width: 10rem;
    position: absolute;
    top: 3rem;
    right: 31rem;
    transition: all 0.4s ease;
}

.hover-image4-container.show {
    height: 7rem;
    width: 10rem;
    position: absolute;
    top: 5rem;
    right: 20rem;
    transition: all 0.4s ease;
}

.hover-image5-container.show {
    height: 10rem;
    width: 8rem;
    position: absolute;
    top: 35rem;
    right: 20rem;
    transition: all 0.4s ease;
}

.hover-image6-container.show {
    height: 7rem;
    width: 10rem;
    position: absolute;
    top: 35rem;
    left: -5rem;
    transition: all 0.4s ease;
}

.hover-image {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

#container {
    width: 80%;
    height: 80%;
    position: relative;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
}

.symptom-container {
    /* width: 16rem; */
    position: relative;
    /* top: 15%;
    right: -75%; */
}

@media screen and (max-width: 770px) {
    .symptom-container {
        width: 5rem;
    }
}

.box {
    /* border: 1px solid red; */
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 58%;
}

.top {
    top: 18%;
}

.middle {
    top: 42%;
    margin-top: 0%;
    /*half of the .box height*/
}

.bottom {
    bottom: 11%;
}

.left {
    left: 7%;
}

.center {
    left: 26%;
    margin-left: -1.5%;
    /*half of the .box width*/
    height: 20%;
    bottom: 10%
}

.right {
    right: 44%;
    bottom: 11%
}

#stickfig {
    max-width: 100%;
    max-height: 100%;
}

.box.top.bottom.middle.left.right:hover {
    background-color: blueviolet;
    opacity: 0.3;
}

.top:hover,
.bottom:hover,
.middle:hover,
.left:hover,
.right:hover {
    background-color: rgb(226, 43, 107);
    opacity: 0.2;
}

.section-heading.symptomh2 {
    color: #4134b6;
    border-bottom: 3px solid #4134b6;
    padding-bottom: 1%;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
}

/* For onClick effect */

.box.top.left.show {
    background-color: blueviolet;
    opacity: 0.2;
}

.box.top.center.show {
    background-color: blueviolet;
    opacity: 0.2;
}

.box.top.right.show {
    background-color: blueviolet;
    opacity: 0.2;
}

.box.middle.center.show {
    background-color: blueviolet;
    opacity: 0.2;
}

.box.bottom.left.show {
    background-color: blueviolet;
    opacity: 0.2;
}

.box.bottom.right.show {
    background-color: blueviolet;
    opacity: 0.2;
}

#show {
    background-color: blueviolet;
    opacity: 0.2;
}

.caution {
    margin-top: 2%;
    color: rgb(182, 7, 7);
}

.p {
    line-height: 1.5rem;
}