.main-container {
    padding: 5rem;
    text-align: center;
    width: 600;
    height: 500;
    animation: fadeInAnimation ease 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#container {
    width: 60%;
    height: 60%;
    position: relative;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
}

.box {
    /* border: 1px solid red; */
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 58%;
}

.top {
    top: 14%;
}

.middle {
    top: 40%;
    margin-top: -10px;
    /*half of the .box height*/
}

.bottom {
    bottom: 14%;
}

.left {
    left: 17%;
}

.center {
    left: 43%;
    margin-left: -10px;
    /*half of the .box width*/
    height: 20%;
    bottom: 10%
}

.right {
    right: 20%;
    bottom: 13%
}

#stickfig {
    max-width: 100%;
    max-height: 100%;
}

.box.top.bottom.middle.left.right:hover {
    background-color: blueviolet;
    opacity: 0.3;
}

.top:hover,
.bottom:hover,
.middle:hover,
.left:hover,
.right:hover {
    background-color: blueviolet;
    opacity: 0.2;
}

.section-heading.symptomh2 {
    color: #dde96c;
    border-bottom: 3px solid #dde96c;
    padding-bottom: 1%;
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
}