.main-container {
    padding: 5rem;
    text-align: center;
    width: 600;
    height: 500;
}

#container {
    width: 60%;
    height: 60%;
    position: relative;
    /* border: 1px solid black; */
}

.box {
    /* border: 1px solid red; */
    position: absolute;
    width: 15%;
    height: 15%;
    border-radius: 58%;
}

.top {
    top: 14%;
}

.middle {
    top: 40%;
    margin-top: -10px;
    /*half of the .box height*/
}

.bottom {
    bottom: 14%;
}

.left {
    left: 17%;
}

.center {
    left: 43%;
    margin-left: -10px;
    /*half of the .box width*/
    height: 20%;
    bottom: 10%
}

.right {
    right: 20%;
    /* bottom: 9% */
}

#stickfig {
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

.box.top.bottom.middle.left.right:hover {
    background-color: blueviolet;
    opacity: 0.3;
}

.top:hover,
.bottom:hover,
.middle:hover,
.left:hover,
.right:hover {
    background-color: blueviolet;
    opacity: 0.2;
}