// body {
//     font-family: sans-serif;
// }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

//Low
.fu-progress-low {
    position: relative;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(20, 185, 168);
    border-radius: 50% !important;

    .fu-inner-low {
        position: absolute;
        overflow: hidden;

        z-index: 2;

        width: 240px;
        height: 240px;
        border: 5px solid #ffffff;
        border-radius: 50% !important;

        .water-low {
            position: absolute;
            z-index: 1;
            background: rgba(23, 202, 163, 0.5);
            width: 200%;
            height: 200%;

            transform: translateZ(0);
            -webkit-transform: translateZ(0);

            transition: all 1s ease !important;
            -webkit-transition: all 1s ease !important;

            top: 90%;
            left: -50%;
            border: 1px solid transparent;
            border-radius: 40% !important;

            animation-duration: 10s;
            animation-name: spin;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .glare-low {
            position: absolute;
            top: -120%;
            left: -120%;
            z-index: 5;
            width: 200%;
            height: 200%;
            transform: rotate(45deg);
            background: #ffffff;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }

        .fu-percent-low {
            position: absolute;
            top: 75px;
            width: 100%;
            height: 100%;

            font-size: 3em;
            font-weight: bold;
            color: rgb(4, 86, 129);
            text-align: center;
        }
    }
}


//Medium
.fu-progress-medium {
    position: relative;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(23, 107, 202);
    border-radius: 50% !important;

    .fu-inner-medium {
        position: absolute;
        overflow: hidden;

        z-index: 2;

        width: 240px;
        height: 240px;
        border: 5px solid #ffffff;
        border-radius: 50% !important;

        .water-medium {
            position: absolute;
            z-index: 1;
            background: rgba(23, 145, 202, 0.5);
            width: 200%;
            height: 200%;

            transform: translateZ(0);
            -webkit-transform: translateZ(0);

            transition: all 1s ease !important;
            -webkit-transition: all 1s ease !important;

            top: 50%;
            left: -50%;
            border: 1px solid transparent;
            border-radius: 40% !important;

            animation-duration: 10s;
            animation-name: spin;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .glare-medium {
            position: absolute;
            top: -120%;
            left: -120%;
            z-index: 5;
            width: 200%;
            height: 200%;
            transform: rotate(45deg);
            background: #ffffff;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }

        .fu-percent-medium {
            position: absolute;
            top: 75px;
            width: 100%;
            height: 100%;

            font-size: 3em;
            font-weight: bold;
            color: rgb(4, 86, 129);
            text-align: center;
        }
    }
}


//High
.fu-progress-high {
    position: relative;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(174, 22, 22);
    border-radius: 50% !important;

    .fu-inner-high {
        position: absolute;
        overflow: hidden;

        z-index: 2;

        width: 240px;
        height: 240px;
        border: 5px solid #ffffff;
        border-radius: 50% !important;

        .water-high {
            position: absolute;
            z-index: 1;
            background: rgba(160, 24, 24, 0.5);
            width: 200%;
            height: 200%;

            transform: translateZ(0);
            -webkit-transform: translateZ(0);

            transition: all 1s ease !important;
            -webkit-transition: all 1s ease !important;

            top: 20%;
            left: -50%;
            border: 1px solid transparent;
            border-radius: 40% !important;

            animation-duration: 10s;
            animation-name: spin;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .glare-high {
            position: absolute;
            top: -120%;
            left: -120%;
            z-index: 5;
            width: 200%;
            height: 200%;
            transform: rotate(45deg);
            background: #ffffff;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
        }

        .fu-percent-high {
            position: absolute;
            top: 75px;
            width: 100%;
            height: 100%;

            font-size: 3em;
            font-weight: bold;
            color: rgb(131, 11, 11);
            text-align: center;
        }
    }
}