// body {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	height: 100vh;
// 	background: #111;
// }

.comparison-wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 60vh;
    // background: rgb(255, 255, 255);
}

.image {

    --width: 440px;
    --height: 286px;

    position: relative;
    width: var(--width);
    height: var(--height);
    overflow: hidden;

    &__img {
        position: absolute;
        height: 100%;
        background: url('https://anythingfrenkie.s3.ap-southeast-2.amazonaws.com/monkeypox_comparison.png');
        background-size: var(--width) var(--height);

        &:first-child {
            left: 0;
            width: 100%;
            background-position: center left;
        }

        &:last-child {
            right: 0;
            width: calc(100% - var(--x, 50%));
            background-position: center right;
            filter: grayscale(40%);
            box-shadow: inset 2px 0 0 #111, -2px 0 0 #111;
            background: url('https://anythingfrenkie.s3.ap-southeast-2.amazonaws.com/chickenpox_comparison.png');
            opacity: 0.85;
            height: 286px;
            background-position: center;
            background-size: var(--width) var(--height);
        }
    }

}