/* .game-page-div {
    position: relative;
    z-index: -1;
} */

#game-inner-section {}

.game-img-div {
    height: 30rem;
    width: 32rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 16%;
    top: 10%;
    /* border-width: 6px;
    border-color: rgb(37, 37, 37);
    border-style: solid; */
}

.game-img-div-2 {
    height: 20rem;
    width: 21rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 6%;
    top: 50%;
    border-width: 6px;
    border-color: rgb(174, 144, 44);
    border-style: solid;
}

.game-img-1 {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#game-main-section {
    position: relative;
    height: 55rem;
    width: 100%;
    background-color: rgb(249, 195, 195);
    /* z-index: -10; */
    opacity: 0.9;
}

#game-sub-section-1 {
    width: 44%;
    height: 25rem;
    /* background-color: aquamarine; */
    position: absolute;
    padding: 3%;
    line-height: 1.8rem;
    font-size: 1.1rem;
    right: 14%;
    top: 45%;
    color: white;
    font-weight: bold;
    /* overflow: hidden; */
    /* margin-bottom: 5%; */

}

#game-sub-section-heading-1 {
    margin-bottom: 5%;
    font-weight: bold;
}

#game-sub-section-p-1 {}

#game-main-section-button-1 {
    right: 43%;
    bottom: 0%;
    position: absolute;
    background-color: black;
    color: white;
    padding: 0.2%;
    width: 14%;
    z-index: +9;
}

#game-main-section-button-1:hover {
    background-color: rgb(84, 84, 85);
    opacity: 0.9;
    border-radius: 2.5rem;
    transition: 0.2s;
}

#game-main-section-button-1:not(:hover) {
    transition: 0.2s;
}


/* Game Section 2 */

#game-sub-section-2 {
    width: 44%;
    height: 25rem;
    position: absolute;
    padding: 3%;
    line-height: 1.8rem;
    font-size: 1.1rem;
    left: 8%;
    top: 8%;
    color: rgb(78, 78, 78);
    font-weight: bold;
}

.game2 {
    top: 35%;
    left: 50%;
}

.game2-small {
    top: 16%;
    left: 73%;
}


/* Game Section 3 */

#game-sub-section-3 {
    width: 44%;
    height: 25rem;
    position: absolute;
    padding: 3%;
    line-height: 1.8rem;
    font-size: 1.1rem;
    left: 53%;
    top: 8%;
    color: rgb(78, 78, 78);
    font-weight: bold;
}

.game3-small {
    top: 14%;
}

.game3 {
    top: 35%;
}

.character-boxing {
    top: 35%;
    height: 10rem;
    width: 11rem;
    position: absolute;
    left: 8%;
    top: 73%;
}

.dodgy {
    transform: translateX(0%) translateY(0%);
    width: 100%
}