.container {
    height: 100%;
    object-fit: contain;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    /* rgb(238, 228, 228) */
    background-color: rgb(246, 231, 231);
    margin: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

section h3.aim {
    text-align: center;
    padding: 5%;
    padding-top: 2%;
    line-height: 200%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

section h2.section-heading {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 3rem;
}

.icon {
    color: rgb(56, 14, 146);
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

section h4.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

section .bottom-container {
    position: absolute;
}

section h2.sub-title {
    text-align: center;
    padding-left: 0%;
    margin-top: 0%;
    font-size: 2.5rem;
}

section .section-inner-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0%;
    /* position: absolute; */
}

section p.text-muted {
    padding: 3rem;
}

section h4.service-heading {
    padding-top: 1rem;
}

.fa-stack.fa-4x {
    z-index: -1;
}

.col-md-4 {
    bottom: 0%;
}