.sub-heading {
    margin: 5%;
    margin-top: 20%;
    font-size: 2rem;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #dde96c;
}

.symptom-section .section-heading {
    color: #dde96c;
    border-bottom: 3px solid #dde96c;
    padding-bottom: 1%;
    font-family: "Montserrat", sans-serif;
}