.sub-heading {
    margin: 3%;
    margin-top: 0%;
    font-size: 2rem;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #796ce9;
}

/* .symptom-section .section-heading {
    color: #dde96c;
    border-bottom: 3px solid #dde96c;
    padding-bottom: 1%;
    font-family: "Montserrat", sans-serif;
} */

.symptom-section {
    /* top: 0%; */
}

.symptom-sub1 p {
    text-align: left;
}

.sub1-table-container {
    margin-top: 0%;
}