.carousel-container {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://anythingfrenkie.s3.ap-southeast-2.amazonaws.com/pexels-cottonbro-4125597.jpg);
    background-size: cover;
    height: 30rem;
    width: 60%;
    margin-left: 18%;
    position: relative;
}

.background1 {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(https://anythingfrenkie.s3.ap-southeast-2.amazonaws.com/pexels-cottonbro-4125597.jpg);
    background-size: cover;
    height: 30rem;
    width: 60%;
    margin-left: 18%;
    position: absolute;
}