.form-page-headings {
    text-align: center;
    font-size: 3rem;
    margin-top: 5%;
    margin-bottom: 2%;
}

.form-page-p1 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5%;
    margin-inline: 15%;
}

/* form */
.card-layout {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10%;
    width: 70%;
    margin: 0 auto;
    padding-top: 7%;
    /* grid-template-columns: auto auto auto; */
    margin-bottom: 2%;
    padding-bottom: 5%;
}

.card-layout:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#personal-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 55px;
}

#symptoms {
    padding-top: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 55px;
}

.form-layout label {
    /* margin-right: 5%; */
}

#ribbon h1 {
    width: 100%;
    /* background-color: green; */
    font-size: 3.5rem;
    text-align: center;
}

#ribbon h2 {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 12%;
    text-align: center;
}

.form-button-group {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 5% auto;
    flex-wrap: wrap;
    gap: 12px;
}

.form-button {
    background-color: black;
    color: white;
    padding: 0.5% 5%;
    width: 10rem;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
}

.form-button:hover {
    background-color: rgb(84, 84, 85);
    opacity: 0.9;
    border-radius: 2.5rem;
    transition: 0.2s;
}

.form-button:not(:hover) {
    transition: 0.2s;
}

#symptoms {
    margin-bottom: 5%;
}

.gender-field {
    margin-top: 6%;
}

.symptom {
    display: flex;
    flex-direction: column;
}

.symptom-label {
    font-size: 1.5rem;
    color: rgb(61, 150, 251);
}

.back-to-top-button {
    font-size: 1.8rem;
    color: white;
    left: 82%;
    margin-bottom: 2%;
    padding: 0.5%;
    width: 6rem;
    height: 6rem;
    background-color: Black;
    border-radius: 100%;
    opacity: 0.8;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.back-to-top-button:hover {
    background-color: rgb(84, 84, 85);
    opacity: 0.9;
    cursor: pointer;
    transition: 0.2s;
}

.back-to-top-button:not(:hover) {
    transition: 0.2s;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

#symptom-form-container {}

.game-symbol {
    font-size: 2.5rem;
}

@media (max-width: 800px) {
    .form-page-headings {
        font-size: 2rem;
    }

    .form-page-p1 {
        margin-top: 5%;
        font-size: 0.9rem;
    }

    .card-layout {
        padding: 5%;
        width: 90%;
        padding-block: 7%;
    }

    #ribbon h1 {
        font-size: 2rem;
    }

    #ribbon h2 {
        font-size: 1.5rem;
    }

    .symptom-label {
        font-size: 1.2rem;
    }

}