.count-container {
    font-size: 1.5rem;
    row-gap: 1rem;
    padding: 2rem;
    text-align: center;
    width: 80%;
    z-index: +5;
}

.count-container:hover {
    background-color: rgb(178, 241, 251);
    transition: 0.3s;
    border-radius: 5.5rem;
    opacity: 0.9;
    color: rgb(41, 40, 40);

}

.count-container:not(:hover) {
    transition: 0.2s;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .count-container {
        margin-inline: auto;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
    }

    .count-container-heading {
        display: none;
    }

    .count-container p {
        font-size: 0.8rem;
        margin-block: 12%;
    }

    .count-container i {}
}