.count-container:hover {
    background-color: rgb(178, 241, 251);
    transition: 0.3s;
    border-radius: 5.5rem;
    opacity: 0.9;
    color: rgb(41, 40, 40);

}

.count-container:not(:hover) {
    transition: 0.2s;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}